table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  width: 60%;
}

.buttons-wrapper button,
.buttons-wrapper a {
  margin-right: 8px;
}

.mat-icon {
  font-size: 14px;
  padding-top: 6px;
}